@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$brand-primary: #ffc80a;
$link: #292929;
$layout:1170px;
$brand-secondary:#e61200;

body{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size:16px;
    line-height:1.5;
}
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin radius($radius){
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}
a{
    color: $link;
    @include transition(.2s);
	&:hover, &:active, &:focus {
		color: $link;
		outline: none;
        text-decoration: none;
	}
}
.layout{
    max-width:$layout;
    margin:auto;
    padding:0 15px;
}
.lead{font-size:22px;;}
.large-title{
    font-size:45px;color:$brand-secondary;margin-bottom:10px;
    /* text: Font Playground */
    font-variation-settings:
    'wght' 100.00,
    'XHGT' 574.00,
    'opsz' 36; 
}
.medium-title{font-size:30px;margin-bottom:10px;}
.small-title{font-size:22px;margin-bottom:5px;}
.micro-title{font-size:18px;margin-bottom:5px;}
.navigation-wrapper .navigation-copy{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items:center;
    ul{
        padding:0;
        list-style-type:none;
        margin:0;
    }
    .menu{
        display:inline-flex;
        &.right{
            
            .online-order{
                a{color:$brand-secondary;border:1px solid $brand-secondary;@include radius(20px);
                    &:hover, &:focus, &:active, &:visited{background-color:$brand-secondary;color: #FFF;}
                }
            }
            .login{
                a{
                    &:before{content:"\f023";font-family:"FontAwesome";margin-right:10px;}
                }
            }
        }
        li{
            padding:0 5px;
            a{
                padding:6px 14px;
                display:block;
                &:hover, &:active, &:focus{color:$brand-secondary;}
            }
        }
    }
    .swaad-logo{
        height:108px;
        background-image: url("https://www.swaadbox.in/images/swaadlogo.png");
        background-repeat:no-repeat;
        width:155px;
        display: block;
        background-size:150px;
    }
}

.page-index .navigation-wrapper{background-color:$brand-primary;}
.home-promotion{
    max-width:980px;
    display: flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    .copy{
        text-align:center;
        padding:40px 15px;
        flex:0 0 40%;
    }
    .image{height:500px;flex:0 0 500px;background-image: url("images/promo.png");background-size:500px;background-repeat:no-repeat;}
}
.section{
    padding:188px 15px;
    position:relative;
    .eyebrow{
        text-align:center;
        max-width:550px;
        margin:0 auto 30px;
    }
    &:nth-child(even){
        background-color:#FFF;
        &:before{
            content:"";
            height:108px;
            width:100%;
            display:block;
            background-size:auto 108px;
            background-image:url("images/shadow.png");
            background-repeat:repeat-x;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            z-index:1;
        }
    }
    &:nth-child(odd){
        background-color:$brand-primary;
        padding:80px 15px;
        &:after{
            content:"";
            height:108px;
            width:100%;
            display:block;
            background-size:auto 108px;
            background-image:url("images/shadow-top.png");
            background-repeat:repeat-x;
            position: absolute;
            top:-54px;
            left: 0;
            right: 0;
        }
    }
    &.why-swaad{
        .points{display:flex;flex-wrap:wrap;justify-content:space-between;
            .column{flex:0 0 31%;margin-bottom:30px;text-align:center;padding:30px 15px;@include radius(5px);background-color: #ffda5b;
                .icon{margin-bottom:15px;display:inline-block;height:70px;width:70px;border-radius:50px;background-color:#ffc809;}
                p{margin-bottom:0;font-size:18px;margin-left:15px;margin-right:15px;letter-spacing:.2px}
            }
        }
    }
    &.support{
        .layout{
            display:flex;
            justify-content:space-between;
            .column{
                flex:0 0 48%;border:1px solid #ddd;padding:60px 0 30px 0;@include radius(10px);box-shadow:0 0 20px #eee;text-align:center;
                .eyebrow{
                    padding:0 50px;
                    p{font-size:20px;font-weight:300;}
                    .action{color:$brand-secondary;@include radius(60px);display: inline-block;font-size:18px;}
                }
                img{max-width:70%;margin-top:20px;}
            }
        }
    }
    &.plans .nav-tabs{
        border-bottom:none;justify-content:center;padding-top:15px;
        .nav-item{
            margin:0 10px;
            .nav-link{
                @include radius(50px);
                padding:10px 20px;background-color:#EEE;
                &.active{background-color: #000;color:#FFF;}
            }
        }
    }
    &.footer{
        background-color:#000;
        color: #FFF;
        text-align:center;
        font-size:14px;
        padding-bottom:30px;
        letter-spacing:.2px;
        &:after{
            background-image: url("images/footer-bg.jpg");
        }
        .copy{}
        .link{display:inline-flex;margin:15px 0;
            a{
                padding:0 8px;color: #929292;
                &:hover{color:#FFF;}
                &:before{font-family:"FontAwesome";margin-right:5px;vertical-align:text-top;}
                &.support{
                    &:before{content:"\f1cd";}
                }
                &.terms{
                    &:before{content:"\f0f6";}
                }
                &.privacy{
                    &:before{content:"\f256";}
                }
            }
        }
        .social{
            a{
                -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
                display: inline-block;
                margin: 14px 8px;
            }
        }
    }
    .place{
        padding-top:30px;text-align:center;
        button{padding:12px 30px;@include radius(50px);text-transform:uppercase;letter-spacing:2px;font-weight:500;border:2px solid #000;color: #000;font-size:18px;}
    }
    .meal-wrap{
        display:flex;justify-content:space-between;margin-top:30px;
        .meal{
            flex:0 0 49%;
            position: relative;
            background-color:#FFF;
            cursor:pointer;
            @include transition(.2s);
            margin-bottom:0;
            &:hover{
                // background-color: #eee;
                // transform:scale(1.02);
            }
            .copy-wrap{
                display:flex;
                justify-content:space-between;
                flex-wrap:wrap;
                border:1px solid $brand-primary;
                overflow:hidden;
                @include radius(5px)
            }
            .medium-title{}
            .image{
                height:400px;
                width:50%;
                overflow:hidden;
                display: flex;
                justify-content: space-between;
                align-items:center;
                img{width:100%;}
            }
            .copy{
                flex:1;
                padding:20px 30px;
                .include{margin:0;padding:2px 0 0 0;list-style-type:none;display:block;
                    li{
                        margin-top:5px;
                        &:before{
                            content: "";
                            display: inline-block;
                            background-image: url(https://www.swaadbox.in/images/tick.svg);
                            height: 16px;
                            width: 16px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            input{
                position:relative;
                width:25px;
                height:25px;
                bottom:-1px;
            }
            input[type="radio"]{
                &:after{content:"";height:26px;width:26px;display:inline-block;vertical-align:middle;border-radius:15px;border:1px solid #d8d8d8;position: absolute;left:0;transform:translateX(-50%) translateY(-50%);left:50%;top:50%;background-color:#fff;@include transition(.2s);}
                &:checked:after{background-color:#d8d8d8;}
            }
        }
    }
}

.meal-plan-wrap{
    background-color:#000;padding:40px 0;color:#eee;
    .layout{display:flex;justify-content:space-between;flex-wrap:wrap;align-items:flex-start}
    .label{display:block;margin-bottom:7px;text-transform:uppercase;letter-spacing:.6px;font-size:13px;}
    .quantity{
        display: inline-flex;
        align-items: center;
        input{
            flex: 0 0 70px;
            margin: 0 10px;
            border-radius: 100px;
            text-align: center;
            font-size: 18px;
            border:none;
        }
        button{
            background-color: #e8e8e8;
            border:none;
            @include radius(100%);
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            position: relative;
            &:before, &:after{
                display: block;
                content: "";
            }
            &.minus{
                &:after{
                    border-top:1px solid #000;
                    width:40%;
                }
            }
            &.plus{
                &:before{
                    border-left: 1px solid #000;
                    height: 11.19px;
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                }
                &:after{
                    border-top: 1px solid #000;
                    width: 40%;
                }
            }
        }
    }
    .dvider-wrap{
        display:flex;
        flex-wrap:wrap;
        .dvider-copy{padding-right:30px;}
        .charges{flex:0 0 100%;padding:8px 10px;background-color:#ffdd67;color:#000;font-size:13px;}
    }
    .dvider{
        margin-bottom:20px;
        .btn-group{
            padding:8px 6px;
            background-color:#e8e8e8;
            @include radius(4px);
            .checkbox{
                background-color: transparent;
                font-size:12px;
                text-transform:uppercase;
                letter-spacing:.3px;
                padding:6px 12px;
                line-height:1;
                color: #525252;
                @include radius(4px);
                &.active{background-color: #fff;box-shadow:0 0 5px #ddd}
                &.day, &.night{
                    span{
                        display: inline-block;
                        height: 12px;
                        width: 12px;
                        vertical-align: top;
                        background-color:$brand-primary;
                        @include radius(10px);
                    }
                }
                &.night {span{background-color: #000;}}
                span{margin-right: 2px;}
                &.day-night{
                    span{
                        &:before, &:after{
                            display: inline-block;
                            height: 12px;
                            width: 6px;
                            vertical-align: top;
                            content:"";
                        }
                        &:before{
                            background-color: black;
                            border-radius: 15px 0 0 15px;
                        }
                        &:after{
                            border-radius: 0 15px 15px 0;
                            background-color:$brand-primary;
                        }
                    }
                }
            }
        }
    }
    .meal-left{
        flex:0 0 70%;
    }
    .meal-right{
        flex:0 0 25%;
        position:sticky;
        top:20px;
        .summary{
            padding:30px 25px;
            background-color: #111;
            @include radius(10px);
            .row-wrap{
                padding:12px 0;
                display:flex;
                justify-content:space-between;
                font-size:13px;
                color: #aaa;
                border-bottom: 1px solid #292929;
                &.total{
                    border-bottom:none;
                    color: #FFF;
                    font-size:16px;
                    padding-bottom:0;
                }
            }
        }
    }
}
$sizes: 40px, 50px, 80px;

@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}
