@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #292929;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover, a:active, a:focus {
  color: #292929;
  outline: none;
  text-decoration: none;
}

.layout {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.lead {
  font-size: 22px;
}

.large-title {
  font-size: 45px;
  color: #e61200;
  margin-bottom: 10px;
  /* text: Font Playground */
  font-variation-settings: 'wght' 100.00, 'XHGT' 574.00, 'opsz' 36;
}

.medium-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.small-title {
  font-size: 22px;
  margin-bottom: 5px;
}

.micro-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.navigation-wrapper .navigation-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-wrapper .navigation-copy ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.navigation-wrapper .navigation-copy .menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navigation-wrapper .navigation-copy .menu.right .online-order a {
  color: #e61200;
  border: 1px solid #e61200;
  border-radius: 20px;
}

.navigation-wrapper .navigation-copy .menu.right .online-order a:hover, .navigation-wrapper .navigation-copy .menu.right .online-order a:focus, .navigation-wrapper .navigation-copy .menu.right .online-order a:active, .navigation-wrapper .navigation-copy .menu.right .online-order a:visited {
  background-color: #e61200;
  color: #FFF;
}

.navigation-wrapper .navigation-copy .menu.right .login a:before {
  content: "\f023";
  font-family: "FontAwesome";
  margin-right: 10px;
}

.navigation-wrapper .navigation-copy .menu li {
  padding: 0 5px;
}

.navigation-wrapper .navigation-copy .menu li a {
  padding: 6px 14px;
  display: block;
}

.navigation-wrapper .navigation-copy .menu li a:hover, .navigation-wrapper .navigation-copy .menu li a:active, .navigation-wrapper .navigation-copy .menu li a:focus {
  color: #e61200;
}

.navigation-wrapper .navigation-copy .swaad-logo {
  height: 108px;
  background-image: url("https://www.swaadbox.in/images/swaadlogo.png");
  background-repeat: no-repeat;
  width: 155px;
  display: block;
  background-size: 150px;
}

.page-index .navigation-wrapper {
  background-color: #ffc80a;
}

.home-promotion {
  max-width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.home-promotion .copy {
  text-align: center;
  padding: 40px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.home-promotion .image {
  height: 500px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
  background-image: url("images/promo.png");
  background-size: 500px;
  background-repeat: no-repeat;
}

.section {
  padding: 188px 15px;
  position: relative;
}

.section .eyebrow {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 30px;
}

.section:nth-child(even) {
  background-color: #FFF;
}

.section:nth-child(even):before {
  content: "";
  height: 108px;
  width: 100%;
  display: block;
  background-size: auto 108px;
  background-image: url("images/shadow.png");
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.section:nth-child(odd) {
  background-color: #ffc80a;
  padding: 80px 15px;
}

.section:nth-child(odd):after {
  content: "";
  height: 108px;
  width: 100%;
  display: block;
  background-size: auto 108px;
  background-image: url("images/shadow-top.png");
  background-repeat: repeat-x;
  position: absolute;
  top: -54px;
  left: 0;
  right: 0;
}

.section.why-swaad .points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section.why-swaad .points .column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px 15px;
  border-radius: 5px;
  background-color: #ffda5b;
}

.section.why-swaad .points .column .icon {
  margin-bottom: 15px;
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  background-color: #ffc809;
}

.section.why-swaad .points .column p {
  margin-bottom: 0;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: .2px;
}

.section.support .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section.support .layout .column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  border: 1px solid #ddd;
  padding: 60px 0 30px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  text-align: center;
}

.section.support .layout .column .eyebrow {
  padding: 0 50px;
}

.section.support .layout .column .eyebrow p {
  font-size: 20px;
  font-weight: 300;
}

.section.support .layout .column .eyebrow .action {
  color: #e61200;
  border-radius: 60px;
  display: inline-block;
  font-size: 18px;
}

.section.support .layout .column img {
  max-width: 70%;
  margin-top: 20px;
}

.section.plans .nav-tabs {
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.section.plans .nav-tabs .nav-item {
  margin: 0 10px;
}

.section.plans .nav-tabs .nav-item .nav-link {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #EEE;
}

.section.plans .nav-tabs .nav-item .nav-link.active {
  background-color: #000;
  color: #FFF;
}

.section.footer {
  background-color: #000;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  padding-bottom: 30px;
  letter-spacing: .2px;
}

.section.footer:after {
  background-image: url("images/footer-bg.jpg");
}

.section.footer .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 15px 0;
}

.section.footer .link a {
  padding: 0 8px;
  color: #929292;
}

.section.footer .link a:hover {
  color: #FFF;
}

.section.footer .link a:before {
  font-family: "FontAwesome";
  margin-right: 5px;
  vertical-align: text-top;
}

.section.footer .link a.support:before {
  content: "\f1cd";
}

.section.footer .link a.terms:before {
  content: "\f0f6";
}

.section.footer .link a.privacy:before {
  content: "\f256";
}

.section.footer .social a {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  display: inline-block;
  margin: 14px 8px;
}

.section .place {
  padding-top: 30px;
  text-align: center;
}

.section .place button {
  padding: 12px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid #000;
  color: #000;
  font-size: 18px;
}

.section .meal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.section .meal-wrap .meal {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  position: relative;
  background-color: #FFF;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 0;
}

.section .meal-wrap .meal .copy-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #ffc80a;
  overflow: hidden;
  border-radius: 5px;
}

.section .meal-wrap .meal .image {
  height: 400px;
  width: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .meal-wrap .meal .image img {
  width: 100%;
}

.section .meal-wrap .meal .copy {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 30px;
}

.section .meal-wrap .meal .copy .include {
  margin: 0;
  padding: 2px 0 0 0;
  list-style-type: none;
  display: block;
}

.section .meal-wrap .meal .copy .include li {
  margin-top: 5px;
}

.section .meal-wrap .meal .copy .include li:before {
  content: "";
  display: inline-block;
  background-image: url(https://www.swaadbox.in/images/tick.svg);
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.section .meal-wrap .meal input {
  position: relative;
  width: 25px;
  height: 25px;
  bottom: -1px;
}

.section .meal-wrap .meal input[type="radio"]:after {
  content: "";
  height: 26px;
  width: 26px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 15px;
  border: 1px solid #d8d8d8;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.section .meal-wrap .meal input[type="radio"]:checked:after {
  background-color: #d8d8d8;
}

.meal-plan-wrap {
  background-color: #000;
  padding: 40px 0;
  color: #eee;
}

.meal-plan-wrap .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.meal-plan-wrap .label {
  display: block;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: .6px;
  font-size: 13px;
}

.meal-plan-wrap .quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal-plan-wrap .quantity input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin: 0 10px;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  border: none;
}

.meal-plan-wrap .quantity button {
  background-color: #e8e8e8;
  border: none;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: relative;
}

.meal-plan-wrap .quantity button:before, .meal-plan-wrap .quantity button:after {
  display: block;
  content: "";
}

.meal-plan-wrap .quantity button.minus:after {
  border-top: 1px solid #000;
  width: 40%;
}

.meal-plan-wrap .quantity button.plus:before {
  border-left: 1px solid #000;
  height: 11.19px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.meal-plan-wrap .quantity button.plus:after {
  border-top: 1px solid #000;
  width: 40%;
}

.meal-plan-wrap .dvider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.meal-plan-wrap .dvider-wrap .dvider-copy {
  padding-right: 30px;
}

.meal-plan-wrap .dvider-wrap .charges {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 8px 10px;
  background-color: #ffdd67;
  color: #000;
  font-size: 13px;
}

.meal-plan-wrap .dvider {
  margin-bottom: 20px;
}

.meal-plan-wrap .dvider input[type='date'] {
  border: none;
  padding: 8px 18px;
  background-color: #e8e8e8;
  border-radius: 20px;
}

.meal-plan-wrap .dvider .btn-group {
  padding: 8px 6px;
  background-color: #e8e8e8;
  border-radius: 4px;
}

.meal-plan-wrap .dvider .btn-group .checkbox {
  background-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .3px;
  padding: 6px 12px;
  line-height: 1;
  color: #525252;
  border-radius: 4px;
}

.meal-plan-wrap .dvider .btn-group .checkbox.active {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #ddd;
          box-shadow: 0 0 5px #ddd;
}

.meal-plan-wrap .dvider .btn-group .checkbox.day span, .meal-plan-wrap .dvider .btn-group .checkbox.night span {
  display: inline-block;
  height: 12px;
  width: 12px;
  vertical-align: top;
  background-color: #ffc80a;
  border-radius: 10px;
}

.meal-plan-wrap .dvider .btn-group .checkbox.night span {
  background-color: #000;
}

.meal-plan-wrap .dvider .btn-group .checkbox span {
  margin-right: 2px;
}

.meal-plan-wrap .dvider .btn-group .checkbox.day-night span:before, .meal-plan-wrap .dvider .btn-group .checkbox.day-night span:after {
  display: inline-block;
  height: 12px;
  width: 6px;
  vertical-align: top;
  content: "";
}

.meal-plan-wrap .dvider .btn-group .checkbox.day-night span:before {
  background-color: black;
  border-radius: 15px 0 0 15px;
}

.meal-plan-wrap .dvider .btn-group .checkbox.day-night span:after {
  border-radius: 0 15px 15px 0;
  background-color: #ffc80a;
}

.meal-plan-wrap .meal-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.meal-plan-wrap .meal-left .submit {
  padding: 15px 30px;
  border-radius: 40px;
  font-size: 22px;
  margin-top: 15px;
  background-color: #e61200;
  border: none;
  color: #FFF;
}

.meal-plan-wrap .meal-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.meal-plan-wrap .meal-right .summary {
  padding: 30px 25px;
  background-color: #111;
  border-radius: 10px;
}

.meal-plan-wrap .meal-right .summary .row-wrap {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  color: #aaa;
  border-bottom: 1px solid #292929;
}

.meal-plan-wrap .meal-right .summary .row-wrap.total {
  border-bottom: none;
  color: #FFF;
  font-size: 16px;
  padding-bottom: 0;
}

.icon-40px {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.icon-50px {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.icon-80px {
  font-size: 80px;
  height: 80px;
  width: 80px;
}
/*# sourceMappingURL=swaad.css.map */